<div class= "center hero-unit">
    <%= link_to image_tag("PIKEYLargeLogo.png",size:"300x131", alt: "Private Invite"), 'http://privateinvite.io/' %>
    <!--<h1>Private Invite</h1>-->
    <h2>Coming Soon</h2>

</div>
