<div class= "center hero-unit">
    <h1>Upcoming Events</h1>
    <!--<h2>Naughty in N'awlins</h2>
    <h3>Aug 6-10, 2014</h3>-->
     <a href="https://secureregistrationonline.com/new_nin/signup.php?affiliateId=1889" target="_blank"><img src="https://secureregistrationonline.com/images/nin_250x55.jpg" alt="Naughty in N'awlins" border="0" target="_blank"></a>
    <h2>
    <%= link_to ("Sign up Now"), events_nin_path, class: "btn btn-large btn-primary", target: '_blank' %>
    </h2>
</div>

