<div class= "center hero-unit">
    <%= link_to image_tag("PIKEYLargeLogo.png",size:"300x131", alt: "Private Invite"), 'http://privateinvite.io/' %>
    <h1>Private Invite</h1>
    <h2>Have you been invited yet?</h2>

    <%= link_to "Request an invite!", '#', class: "btn btn-large btn-primary" %>

</div>
